body{
  background-color: #6D3190;
  display:flex;
  justify-content: center;
  align-items:center;
  position:absolute;
  font-family:Libre Baskerville,Arial;
  color:#C78D17;

}
a{
  text-decoration: none;
}
.opening{
  position:relative;
  top:200px;
  left:600px;
  width:700px;
}
.buttons{
  display:flex;
  position:absolute;
}
.no-button{

  position:relative;
  display:block;
  padding:7px 5px;
  border-color:#C78D17;
  width:100px;
  height:50px;
  margin-right:10px;
  border-width:3px;
  border-color:black;
  background-color: #D7Ac28;
  transition:opacity 0.15s;
}
.yes-button{
  display:block;
  width:200px;
  height:50px;
  font-size:1em;
  padding:7px 5px;
  position: relative;
  border-color:#C78D17;
  margin-right:10px;
  border-radius:5%;
  background-color: #D7Ac28;
}
.yes-button::before {
  content: "YESS";
  position: absolute;
  inset: -2px;
  padding: 2px;
  background: transparent;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  overflow: hidden;

  background: linear-gradient(90deg, red, orange, yellow, green, blue, violet, red);
  background-size: 300%;
  animation: borderMove 4s linear infinite;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
@keyframes borderMove {
  0% { background-position: 0% }
  100% { background-position: 300% }
}
.yes-button:hover{
    width:500px;
    height:200px;
    font-size:5em;
    color:pink;
}
.no-button:hover,.yes-button:hover{
  opacity:0.7;
}
.no-button:active{
  left:100px;
}
.slider {
  width: 90vw;
  max-width: 900px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  right:390px;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  flex: 0 0 calc(100% / 3);  /* 3 images visible */
  padding: 10px;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Perfect square */
  object-fit: cover;
  border-radius: 15px;

}
.stickers{
  position:absolute;
}
.stickers img{
  position:relative;
}
.batman{  
    width:200px;

  top:100px;
  left:-390px;
  transform: rotate(-30deg);
}
.shitzu{
  right:-290px;
  transform: rotate(10deg);
    width:200px;

}
.angel{
  bottom:-470px;
  width:300px;
  z-index:-10;
}
